<div>
    <div class="artist-search">
        <!-- <input type="text" [(ngModel)]="searchQuery" placeholder="Search for artists">
        <button (click)="searchArtists()" type="submit" class="search-button">Search</button> -->

        <input type="text" [(ngModel)]="searchQuery" placeholder="Search for artists"
            (input)="searchInputChange(searchQuery)">
        <button (click)="searchArtists(searchQuery)" type="submit" class="search-button">Search</button>

    </div>
    <div>
        <app-browsing-artists [artists]="artists"></app-browsing-artists>
    </div>
</div>