.left-items {
  /* display: flex;
  align-items: center; */

  @apply flex items-center;
}

.right-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.spotify-icon {
  /* margin-right: 8px; */

  @apply mr-4 ml-4;
}

.app-name {
  /* font-weight: bold;
  margin-right: 16px; */

  @apply font-bold mr-2;
}

.toolbar-button {
  /* margin-left: 8px; */

  @apply ml-2;
}