<div class="artist-list" *ngIf="artists.length > 0">
  <mat-card class="artist-card" *ngFor="let artist of artists">
    <div class="artist-image">
      <img [src]="artist.images[0]?.url" alt="Artist Image">
    </div>
    <div class="artist-details">
      <h3>{{ artist.name }}</h3>
      <div class="star-rating">
        <ng-container *ngFor="let star of getStarRating(artist.popularity)">
          <!-- <mat-icon></mat-icon> -->
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </ng-container>
      </div>
      <p>Followers: {{ artist.followers.total }}</p>
      <button mat-raised-button color="primary" class="view-albums-button" (click)="viewAlbums(artist.id)">View Albums</button>
    </div>
  </mat-card>
</div>